<p id="notice"><%= notice %></p>

<h3> Restaurant Details: </h3>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @restaurant.state %>
</p>


<p>
  <strong>Split Yes Vote:</strong>
  <%= @restaurant.split %>
</p>

<p>
  <strong>Split No Vote:</strong>
  <%= @restaurant.nosplit %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "button" %>


<%= link_to 'Comment', restaurants_new_comment_path(@restaurant), class: "button" %>

<%= button_to "Favorite", {id: @restaurant.id, action: "add_favorite" }, class: "button"  %>


<h2>
  It's Your Turn To Vote!
</h2>

<div class = "showButton">
<%= button_to "Yes Split", {id: @restaurant.id, action: "split" }, class: "button" %>

<%= button_to "No Split", {id: @restaurant.id, action: "nosplit" }, class: "button"  %>

</div>
<%= link_to 'Back', restaurants_path, class: "back" %>
