<!DOCTYPE html>
<html>
  <head>
    <title>Splitcheck</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
       <header class="main">
         <h1> Restaurant Split </h1>
       </header>
      
       <h2> Vote for amazing restaurants that split the check OR bummer restaurants that don't! </h4>

    <%= yield %>
  </body>
</html>
